
    <form class="form-inline my-2 my-lg-0" style="float: right;">
      <% if current_user %>
        Signed in as <%= current_user.email %> | <%= link_to "Logout", '/logout' %>
      <% else %>
        <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', new_user_path %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
      <% end %>
    </form>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"> <span class="w3-hide-small">Kos</span> Tlitch</span>
  </div>
</div>

