<h1>Restaurant</h1>
	<div id="search">
		<%= form_tag foods_path,method: :get , remote: true do %>
			<%= text_field_tag :item,params[:item] %>
			<%= submit_tag 'Search', :class => "w3-bar-item w3-button" %>
		<%end%>
	</div>
	<div id="searchitem">
	</div>
	<div id="alllist">
	<% @food.each do |f| %>
	<h2><%= f.item %></h2>
	<h3><%= f.location %></h3>
	 <iframe class ="map"
	 height="250px"
	 frameborder="0" style="border:0"
	 src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBX8hQcoSEtucwisPltvD2u0Xsl7nZg77I
	   &q=<%= (f.location).gsub(/(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)/, '\1+\2+\3+\4+\5+\6+\7+\8')%>&q=seattle+washington&q=arizona" allowfullscreen>
	</iframe>
	<%=f.price %>
	<%if current_user == f.user%>
	<p> <%=link_to "edit", edit_food_path(f)%></p>
	<% end %>
	<% end %>
	</div>
	<%= link_to 'Create Your Listing', new_food_path %>
